@model List<QMSystem.Models.Documents>


@{
    ViewData["Title"] = "AdminTool";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table {
        margin: 10px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>



<h2 style="margin: 10px;">Änderungsanträge</h2>

<table style="font-family: arial, sans-serif; border-collapse: collapse; width: 100%;">

    <tr style="font-size:16px; text-align:center">
        <th>Dokumentname</th>
        <th>Dokumentpfad</th>
        <th>Antragsdatum</th>
        <th>Antragsteller</th>
        <th>Betreff</th>
        <th>Beschreibung</th>
        <th>Freigabestatus</th>
    </tr>
    @{ var index = 0; }

    @foreach (Documents document in Model)
    {
        if (document.Freigabe == 0 || document.Freigabe == 1 || document.Freigabe == 2 || document.Freigabe == 3)
        {
            index++;
            var FreigabeID = "Freigabe" + index;
            var DocumentID = "Document" + index;
            <tr>
                <td>
                    @document.DocumentName
                </td>
                <td>
                    <a href="@document.DocumentPath" target="_blank" Link>@document.DocumentPath</a>

                </td>
                <td>
                    @document.RequestDate
                </td>
                <td>
                    @document.UserName
                </td>
                <td>
                    @document.Betreff
                </td>
                <td>
                    @document.Anmerkungen
                </td>
                <td>

                    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateState">

                        @{
                            string concatet0 = "sel_0" + DocumentID;
                            string concatet1 = "sel_1" + DocumentID;
                            string concatet2 = "sel_2" + DocumentID;
                            string concatet3 = "sel_3" + DocumentID;
                            string concatet4 = "sel_4" + DocumentID;
                        }
                        <input type="hidden" id="documentID" name="documentID" value="@document.DocumentId">
                        <select class="form-control" id="Status" name="Status">

                            <option id="@concatet0">Nicht freigegeben</option>
                            <option id="@concatet1">Direkte Freigabe</option>
                            <option id="@concatet2">Weitergabe an GF</option>
                            <option id="@concatet3">Abgelehnt</option>
                            <option id="@concatet4">Veröffentlicht</option>

                        </select>

                        @if (document.Freigabe == 0)
                        {
                            <script>
                                document.getElementById("@concatet0").selected = true;
                            </script>
                        }
                        else if (document.Freigabe == 1)
                        {
                            <script>
                                document.getElementById("@concatet1").selected = true;
                            </script>
                        }
                        else if (document.Freigabe == 2)
                        {
                            <script>
                                document.getElementById("@concatet2").selected = true;
                            </script>
                        }
                        else if (document.Freigabe == 3)
                        {
                            <script>
                                document.getElementById("@concatet3").selected = true;
                            </script>
                        }

                        <input type="submit" value="Submit Change Request">
                    </form>
                </td>
            </tr>
        }
    }

</table>


